* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container {
  /* background-color: rgb(178, 214, 245); */
  width: 60vw;
  margin: 2em auto;
  text-align: center;
}
.logo {
  margin-bottom: 3em;
}

#task-icon {
  color: #004466;
  margin-bottom: 1em;
}
.add-task-icon {
  margin-bottom: 1em;
}
h1, h2 {
  text-align: center;
  color: #004466;
  margin-bottom: .8em;
}

form {
  margin: 20px auto;
  width: 70%;
  padding: 20px;
  background-color: #00ffa2;
  border-radius: 10px;
}

/* label {
  display: block;
  margin-bottom: 10px;
  color: #004466;
  font-weight: 600
} */

input[type="text"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #004466;
  background-color: #fff;
  resize: none;
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
  color: #004466;
  border-radius: 4px;
  background-color: #fff;
}

button[type="submit"] {
  width: 100%;
  background-color: #004466;
  color: #fff;
  font-weight: 600;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  background-color: #004466;
  color: #fff;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-bottom: .5em;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #00ffa2;
  border-radius: 10px;
}

li h3 {
  margin: 0;
}

li p {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 600;
}

li button {
  margin-left: 1em;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
#delete-all-btn {
  background-color: red;
}

.fall {
  transform: translateX(8rem);
  opacity: 0;
}